@model IEnumerable<MvcApuestasJugadoresAWS.Models.Apuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear apuesta</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdApuesta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEquipoLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEquipoVisitante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GolesEquipoLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GolesEquipoVisitante)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdApuesta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @if (item.IdEquipoLocal == 1)
                        {
                            <span>Real Madrid Club de Fútbol</span>
                        }
                        else if (item.IdEquipoLocal == 2)
                        {
                            <span>Manchester City</span>
                        }
                        else
                        {
                            <span>Equipo no disponible</span>
                        }
                    </td>
                    <td>
                        @if (item.IdEquipoVisitante == 1)
                        {
                            <span>Real Madrid Club de Fútbol</span>
                        }
                        else if (item.IdEquipoLocal == 2)
                        {
                            <span>Manchester City</span>
                        }
                        else
                        {
                            <span>Equipo no disponible</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GolesEquipoLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GolesEquipoVisitante)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">No existen apuestas</h2>
}
