@model IEnumerable<MvcApuestasJugadoresAWS.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create" class="btn-outline-info">Insertar jugador</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdJugador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEquipo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdJugador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posicion)
                    </td>
                    <td>
                        <img src="https://s3-apuestasjugadores.s3.amazonaws.com/jugadores/@item.Imagen" style="height:150px;width:150px;object-fit:cover;" />
                    </td>
                    <td>
                        @if (item.IdEquipo == 1)
                        {
                            <span>Real Madrid Club de Fútbol</span>
                        }
                        else if (item.IdEquipo == 2)
                        {
                            <span>Manchester City</span>
                        }
                        else
                        {
                            <span>Equipo no disponible</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">No existen jugadores</h2>
}