@model IEnumerable<MvcApuestasJugadoresAWS.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipos</h1>

@if (Model.Count()>0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEquipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Champions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEquipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <img src="@item.Imagen" style="height:150px;width:150px;object-fit:cover;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Champions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">No existen equipos</h2>
}